<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DeepSeek Harness" Manufacturer="dsh-desktop-launcher" Version="0.1.0" UpgradeCode="476216DF-C4D6-4524-A628-95006229958B" Scope="perMachine" Language="1033">
    <MajorUpgrade DowngradeErrorMessage="A newer version of DeepSeek Harness is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="DeepSeek Harness">
        <Directory Id="D__engine" Name="engine" />
        <Directory Id="D__plugin" Name="plugin" />
        <Directory Id="D__plugin_assets" Name="assets" />
        <Directory Id="D__plugin_lib" Name="lib" />
        <Directory Id="D__plugin_lib_client" Name="client" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="DeepSeek Harness" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <Feature Id="Main" Title="DeepSeek Harness" Level="1">
      <ComponentGroupRef Id="PayloadFiles" />
      <ComponentGroupRef Id="StartMenuFiles" />
      <ComponentGroupRef Id="DesktopFiles" />
    </Feature>
    <ComponentGroup Id="PayloadFiles">
      <ComponentRef Id="C_" />
      <ComponentRef Id="C__engine" />
      <ComponentRef Id="C__plugin" />
      <ComponentRef Id="C__plugin_assets" />
      <ComponentRef Id="C__plugin_lib" />
      <ComponentRef Id="C__plugin_lib_client" />
    </ComponentGroup>
    <ComponentGroup Id="StartMenuFiles">
      <ComponentRef Id="StartMenuShortcut" />
    </ComponentGroup>
    <ComponentGroup Id="DesktopFiles">
      <ComponentRef Id="DesktopShortcut" />
    </ComponentGroup>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="C_" Guid="767947FF-284E-4798-9DAD-73282C61D933">
        <File Id="F_0" Source="payload\DeepSeek Harness.cmd" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="D__engine">
      <Component Id="C__engine" Guid="84D5702D-5A13-43EF-9EB8-0CEA6315967D">
        <File Id="F_1" Source="payload\engine\New-DesktopShortcut.ps1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="D__plugin">
      <Component Id="C__plugin" Guid="1A32497A-D310-4DD3-9A7F-2ED608CA249C">
        <File Id="F_2" Source="payload\plugin\cordis.patch.yml" KeyPath="yes" />
        <File Id="F_3" Source="payload\plugin\LICENSE" />
        <File Id="F_4" Source="payload\plugin\package.json" />
        <File Id="F_5" Source="payload\plugin\README.md" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="D__plugin_assets">
      <Component Id="C__plugin_assets" Guid="8AF434BC-84F8-4229-8467-29F59A297278">
        <File Id="F_6" Source="payload\plugin\assets\New-DesktopShortcut.ps1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="D__plugin_lib">
      <Component Id="C__plugin_lib" Guid="FFDB8531-B319-41FA-AC83-BCDCFAEC53B4">
        <File Id="F_7" Source="payload\plugin\lib\client.js" KeyPath="yes" />
        <File Id="F_8" Source="payload\plugin\lib\client.js.map" />
        <File Id="F_9" Source="payload\plugin\lib\context-types.d.ts" />
        <File Id="F_10" Source="payload\plugin\lib\context-types.d.ts.map" />
        <File Id="F_11" Source="payload\plugin\lib\context-types.js" />
        <File Id="F_12" Source="payload\plugin\lib\context-types.js.map" />
        <File Id="F_13" Source="payload\plugin\lib\index.d.ts" />
        <File Id="F_14" Source="payload\plugin\lib\index.d.ts.map" />
        <File Id="F_15" Source="payload\plugin\lib\index.js" />
        <File Id="F_16" Source="payload\plugin\lib\index.js.map" />
        <File Id="F_17" Source="payload\plugin\lib\wire.d.ts" />
        <File Id="F_18" Source="payload\plugin\lib\wire.d.ts.map" />
        <File Id="F_19" Source="payload\plugin\lib\wire.js" />
        <File Id="F_20" Source="payload\plugin\lib\wire.js.map" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="D__plugin_lib_client">
      <Component Id="C__plugin_lib_client" Guid="FB155DFB-00FE-408B-AD55-5BEF8F4B21F3">
        <File Id="F_21" Source="payload\plugin\lib\client\index.d.ts" KeyPath="yes" />
        <File Id="F_22" Source="payload\plugin\lib\client\index.d.ts.map" />
        <File Id="F_23" Source="payload\plugin\lib\client\index.js" />
        <File Id="F_24" Source="payload\plugin\lib\client\index.js.map" />
        <File Id="F_25" Source="payload\plugin\lib\client\section.d.ts" />
        <File Id="F_26" Source="payload\plugin\lib\client\section.d.ts.map" />
        <File Id="F_27" Source="payload\plugin\lib\client\section.js" />
        <File Id="F_28" Source="payload\plugin\lib\client\section.js.map" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="StartMenuShortcut" Guid="A3AFB572-0994-4867-9FBB-F45C1DAB6764">
        <Shortcut Id="StartMenuShortcutLnk" Name="DeepSeek Harness" Description="Launch DeepSeek Harness web UI" Target="[INSTALLDIR]DeepSeek Harness.cmd" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\DeepSeekHarness" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="E9C072D1-C12E-4874-961E-80E9EC5862D5">
        <Shortcut Id="DesktopShortcutLnk" Name="DeepSeek Harness" Description="Launch DeepSeek Harness web UI" Target="[INSTALLDIR]DeepSeek Harness.cmd" WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="Software\DeepSeekHarness" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Package>
</Wix>
